
.main {
    background-color: #303030;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 8vw;  
}

/* commentaire d&acute;une ligne */

.titre, .paragraphe, .carte-description {
    font-family: DM Sans;
    background-color: #453734;
    padding: 10px;
    color: #ffffff
}

.titre {
    display: inline-block;
    font-size: 30px;
}

.titre-2 {
    display: inline-block;
    font-size: 20px;
    margin-top: 8vw; 
}

.paragraphe {
    margin-top: 40px;
    font-size: 15px
}

.carte {
    overflow: hidden;
    margin-top: 3vw;
}

.carte, .carte-image, .carte-description {
    width: 27vw;
}
.carte-image-1 {
    width: 35vw;
    display: block;
    align: center; 
}

.carte-image {
    /* https://stackoverflow.com/questions/7774814/remove-white-space-below-image */
    display: block;
}

.galerie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}